<%- layout('layouts/main.ejs') %>

<h1>Profile</h1>

<div class="card card-body">
    <p>
        <strong>ID: </strong><%= user._id %>
    </p>
    <h3><strong>NOMBRE: </strong><%= user.name %></h3>
    <p><strong>CORREO ELECTRÓNICO: </strong><%= user.email %></p>
    <p>
        <strong>TIPO DE USUARIO: </strong><%= user.usertype %>
    </p>
</div>